<plugin xmlns="https://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://www.willuhn.de/schema/jameica-plugin https://www.willuhn.de/schema/jameica-plugin-1.5.xsd"
        name="jverein" version="3.1.2" class="de.jost_net.JVerein.JVereinPlugin">

  <description>OpenSource-Vereinsverwaltung</description>
  <url>https://openjverein.github.io/jameica-repository/[PLUGIN_ZIP]</url>
  <homepage>https://openjverein.github.io/</homepage>
  <license>GPL - https://www.gnu.org/copyleft/gpl.html</license>
  <icon>jverein-icon-64x64.png</icon>
  <menu>
    <item name="OpenJVerein">
      <item name="Über"
            action="de.jost_net.JVerein.gui.action.AboutAction" 
            icon="gtk-info.png" />
      <item name="-" />
      <item name="Lizenzinformationen"
            action="de.jost_net.JVerein.gui.action.LizenzAction"
            icon="text-x-generic.png" />
    </item>
  </menu>
  <classfinder>
    <include>jverein\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <navigation>
    <item name="OpenJVerein"
      icon-close="folder.png"
      icon-open="folder-open.png"
    id="jverein.main">
    </item>
  </navigation>

  <services>
    <service name="database" depends="" autostart="true"
      class="de.jost_net.JVerein.server.JVereinDBServiceImpl" />
  </services>

  <messaging>
    <consumer queue="hibiscus.umsatz.markchecked" class="de.jost_net.JVerein.Messaging.HibscusUmsatzMessageConsumer" />
  </messaging>
  
  <requires jameica="2.8+">
    <import plugin="hibiscus" version="2.8.7+"/>
  </requires>

</plugin>
