# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant

name: openjverein build check

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - 'plugin.xml'
      - 'build/**'
      - 'lib/**'
      - 'lib.src/**'
      - 'src/**'
jobs:
  build:
    name: Try to build a nightly release incorporating the current pull request

    runs-on: ubuntu-latest

    steps:
    - name: Set up JDK 11 for x64
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        architecture: x64

    - name: Check out jameica
      uses: actions/checkout@v4
      with:
        repository: willuhn/jameica
        path: jameica

    - name: Build jameica nightly
      working-directory: ./
      run: ant -noinput -buildfile jameica/build/build.xml nightly

    - name: Check out hibiscus
      uses: actions/checkout@v4
      with:
        repository: willuhn/hibiscus
        path: hibiscus

    - name: Build hibiscus nightly
      working-directory: ./
      run: ant -noinput -buildfile hibiscus/build/build.xml nightly

    - name: Checkout openjverein
      id: openjverein_checkout
      uses: actions/checkout@v4
      with:
        path: jverein
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Build openjverein plugin
      id: buildtest
      working-directory: ./
      run: ant -noinput -buildfile jverein/build/build.xml compile
